* {
    padding: 0px;
    margin: 0px;
}

.iP-mainBody {
    background: var(--iP-default-bgColor);
    color: rgba(223, 190, 106, 0.7);
    /* background: #8f8e85; */
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

.iP-father {
    height: 100vh;
    /* min-width: 680px; */
}

/* 错误提示 */
.iP-tips {
    margin-top: 16px;
    color: red;
    margin-bottom: 30px;
    display: none;
    font-size: var(--default-titleFontSize);
}

.iP-content {
    text-align: center;
    height: 100%;
    font-size: var(--default-contentFontSize);
}

.iP-contentChild{
    top: 5%;
    text-align: center;
    align-iP-content: center;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    color: var(--iP-default-fontColor);
    position: relative;
}

/*初始化页面内容样式*/
.iP-form {
    margin: 30px auto;
    position: relative;
    padding-bottom: 70px;
}

.iP-form .iP-item {
    margin: auto;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.iP-form input,
.iP-form select {
    outline-style: none;
    height: 40px;
    width: 280px;
    border-radius: 2px;
    background-color: var(--iP-default-inputBgColor);
    border: 1px solid rgb(81, 81, 81);
    color: var(--iP-default-fontColor);
    text-align: center;
}

div .iP-submit{
    background: var(--default-absBtnBgColor);
    color: var(--default-absFontColor);
}

.iP-exBtn {
    position: absolute;
    width: 50px;
    right: 15%;
    height: 25px;
    border-radius: 20px;
    border-radius: 15px;
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(81, 81, 81);
    color: rgba(223, 190, 106, 0.7);
    font-size: var(--default-contentFontSize);
}

.iP-exBtn:hover,
.iP-form input:hover,
.iP-form select:hover {
    border: var(--iP-default-border);
}

.iP-form input[type="button"] {
    width: 200px;
    height: 30px;
    border-radius: 2px;
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.cancelOpenProject{
    height: 20px;
}

/* 工程取消按钮样式 */
.iP-cancelOpenProject{
    float: right;
    outline-style: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: var(--nP-default-inputBgColor);
    border: 1px solid rgb(81, 81, 81);
    color: var(--nP-default-fontColor);
}

.iP-cancelOpenProject:hover{
    color: var(--default-hoverColor);
    border-color: var(--default-hoverColor);
}

/**************************空白工程**************************/
/*设置提示样式*/
.iP-content_space .iP-tip_title {
    font-size: var(--default-titleFontSize);
    margin-bottom: 50px;
    color: var(--iP-default-fontColor);
}
