/* 消除界面样式 */
* {
    margin: 0;
    padding: 0;
}

:root {
    /* 明亮 */
    --default-bgColor: rgb(255, 255, 255, 0.8);
    --default-fontColor: rgb(56, 53, 53);

    /* 新添加文件颜色 */
    --default-addFile-fontColor: rgb(19, 148, 15);

    /* 忽略文件颜色 */
    --default-ignoreFile-fontColor: rgba(87, 83, 83, 0.4);

    /* 暗黑 */
    --default-bgColor: rgb(37, 37, 38);
    --default-fontColor: rgba(255, 255, 255, 0.55);

    /* 新添加文件颜色 */
    --default-addFile-fontColor: rgb(21, 180, 16, 0.8);

    /* 忽略文件颜色 */
    --default-ignoreFile-fontColor: rgba(255, 255, 255, 0.2);

    /* 完成按钮 */
    --default-btnBorderColor: 1px solid rgb(142, 142, 142);
    --default-btnFontColor: rgb(142, 142, 142);
    --default-hoverColor: rgb(64, 128, 208);

    /* ********* 工程配置 ↓ *********** */
    --default-project-leftBar-border: 1px solid rgb(142, 142, 142);
    /* ********* 工程配置 ↑ *********** */
}

body {
    display: grid;
    height: 100vh;
    grid-gap: 24px;
    grid-template-columns: 110px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "g-leftBar g-rightBar g-rightBar g-rightBar g-rightBar g-rightBar g-rightBar g-rightBar g-rightBar g-rightBar g-rightBar g-rightBar";
    background-color: var(--default-bgColor);
    color: var(--default-fontColor);
}

/* 设置全局样式 */
.rightBar,
.leftBar {
    position: relative;
    background-color: var(--default-bgColor);
    color: var(--default-fontColor);
    text-align: center;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",
        "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

.leftBar {
    grid-area: g-leftBar;
}

.rightBar {
    grid-area: g-rightBar;
}

i {
    color: var(--default-fontColor);
}

/* 侧边栏样式 */
.leftBar-Child {
    margin: auto;
    width: 100%;
    height: 55px;
    background: #000;
    color: var(--default-fontColor);
    text-align: center;
    line-height: 55px;
    font-size: large;
    font-weight: bold;
    border: var(--default-project-leftBar-border);
}

.fileShow {
    border-bottom: none;
}

/* 文件下载及工程配置界面容器样式 */
.fileSystemMain,
.projectConfig{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.projectConfig {
    text-align: center;
}

.active {
    background-color: rgb(66, 129, 209);
    color: rgb(255, 255, 255);
}

/* 设置文件夹的样式 ↓ */

.floderBox {
    margin-top: 2%;
    min-height: 500px;
    width: 100%;
    background-color: inherit;
}

.perFloder {
    margin: auto;
    width: 70%;
    margin-bottom: 5px;
}

/* 根目录下文件/文件夹样式 */
.floderCont {
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    color: inherit;
    text-align: left;
}

/* 根文件夹的样式 */
.mainLabel {
    font-size: 16px;
}

.floderCont:only-child label:hover {
    color: var(--default-hoverColor);
    cursor: pointer;
}

/* 非根目录下文件/文件夹样式 */
.floderChildStyle {
    text-align: left;
    margin-left: 20px;
}

.floderChildStyle:hover {
    background-color: var(--default-bgColor);
}

/* 选择框样式 */
input[type="checkbox"] {
    opacity: 0.6;
}

/* 设置文件夹的样式 ↑ */

/* 完成按钮样式 */
.download {
    width: 130px;
    height: 35px;
    background: none;
    outline: none;
    border-radius: 2px;
    margin-bottom: 40px;
    border: var(--default-btnBorderColor);
    color: var(--default-btnFontColor);
}

.download:hover {
    color: var(--default-hoverColor);
    border-color: var(--default-hoverColor);
}


/* *********************************工程配置样式 ↓********************************* */
.cfg-box {
    height: 100vh;
    width: 100%;
    background-color: var(--default-bgColor);
    color: var(--default-fontColor);
}

.cfg-h1 {
    text-align: center;
    color: var(--default-fontColor);
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 50px;
}

.configBox {
    height: 100px;
    width: 60%;
    margin: auto;
    position: relative;
    padding: 12px 14px 18px;
    white-space: normal;
    text-align: left;
}

.configBox:hover {
    background-color: rgb(34, 35, 35);
}

.cfg-p {
    color: var(--default-fontColor);
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

.cfg-a {
    /* color: #3794ff; */
    color: #e7e7e7;
    font-size: 13px;
    text-decoration: underline;
    color: rgb(204, 204, 204);
}

.cfg-input {
    border-style: none;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    resize: none;
    /* width: 100%;
    height: 100%; */
    box-sizing: border-box;
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
    outline: none;
    /* outline-color: #007fd4; */
    padding: 4px;
    width: 300px;
    height: 30px;
    border-radius: 2px;
    margin-top: 10px;

}

.cfg-select {
    border-style: none;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    resize: none;
    /* width: 100%;
    height: 100%; */
    box-sizing: border-box;
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
    outline: none;
    /* outline-color: #007fd4; */
    padding: 4px;
    width: 300px;
    height: 30px;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 13px;
}

.configItem {
    margin: 2px;
    padding: 0px;
}

.configDesc {
    color: rgba(204, 204, 204, 0.9)
}

/* *********************************工程配置样式 ↑********************************* */

