* {
  padding: 0;
  margin: 0;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: var(--default-fontColor);
}

i {
  color: black;
}

:root {
  /* 默认样式 */
  --default-bgColor: white;
  --default-fontColor: black;
  --default-segLineColor: rgba(0, 0, 0, 0.6);
  --default-borderColor: 2px solid black;
  --default-hoverColor: rgb(8, 60, 201);
  --default-modalBgColor: rgb(255, 255, 255, 0.8);
  --default-popBgColor: rgb(255, 255, 255, 0.7);
  --default-fontStyle: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  --default-loginPopImgStyle: invert(0%) sepia(0%) saturate(600%) hue-rotate(277deg) brightness(10%) contrast(100%);
  --default-pubImgStyle: invert(100%) sepia(13%) saturate(748%) hue-rotate(181deg) brightness(50%) contrast(105%);
  
  --default-bgColor: rgb(37, 37, 38);
  --default-fontColor: rgba(255, 255, 255, 0.851);
  --default-segLineColor: rgba(255, 255, 255, 0.4);
  --default-borderColor: 2px solid rgba(255, 255, 255, 0.6);
  --default-hoverColor: rgb(15, 204, 109);
  --default-modalBgColor: rgb(0, 0, 0, 0.5);
  --default-popBgColor: rgba(46, 44, 44, 0.3);
  --default-loginPopImgStyle: none;
  --default-loginImgStyle: invert(100%) sepia(13%) saturate(7438%) hue-rotate(181deg) brightness(112%) contrast(105%);
  --default-pubImgStyle: invert(100%) sepia(13%) saturate(7438%) hue-rotate(181deg) brightness(60%) contrast(105%);
  
}

#root {
  background-color: var(--default-bgColor);
  color: var(--default-fontColor);
  font-weight: 500;
  font-family: var(--default-fontStyle);
  display: grid;
  height: 100vh;
  grid-gap: 24px;
  grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 11fr;
  grid-template-areas: 'g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header'
    'g-left g-right g-right g-right g-right g-right g-right g-right g-right g-right g-right g-right';
}

.header {
  grid-area: g-header;
  /* background-color: red; */
}

.leftContent {
  grid-area: g-left;
  /* background-color: blue; */
}

.rightContent {
  grid-area: g-right;
  /* background-color: green; */
}

/* 登录按钮 */
.userBtn {
  float: right;
  background: none;
  border: none;
  outline: none;
}

.userBox {
  padding: 10px;
  display: inline-block;
  flex: none;
}

.userImg{
  filter: var(--default-loginImgStyle);
}

/* 宣传按钮 */
.header-exterDiv{
  width: 10px;
  display: inline-block;
}

.header-publicBtn1,
.header-publicBtn2,
.header-publicBtn3{
  background: none;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
}

.pubImg{
  filter: var(--default-pubImgStyle);
}

/********************登录 ↓*********************/
/* 模态框样式 */
.loginModal,
.forgetModal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

/*登录box样式*/
.login,
.forgetPw {
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 50px;
  position: relative;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background: var(--default-popBgColor);
  display: block;
  border: var(--default-borderColor);
}

.login h2,
.forgetPw h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--default-fontColor);
  text-align: center;
}

.form-box {
  position: relative;
}

/* 登录input */
.login-formBox{
  margin-bottom: 35px;
}

/* 登录按钮的居中 */
.form-box1 {
  text-align: center;
}

.form-box input {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  color: var(--default-fontColor);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1.5px solid rgb(228, 227, 227, 0.5);
  outline: none;
  background: transparent;
}

.form-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--default-fontColor);
  pointer-events: none;
  transition: .5s;
}

.form-box input:focus~label,
.form-box input:valid~label {
  top: -20px;
  left: 0;
  color: var(--default-hoverColor);
  font-size: 12px;
}

.form-box input:focus {
  border-color: var(--default-borderColor);
}

.loginbtn {
  width: 200px;
  height: 40px;
  background-color: var(--default-bgColor);
  border-radius: 20px;
  border-color: var(--default-borderColor);
  color: var(--default-fontColor);
  outline-width: 0;
}

.loginbtn:hover {
  border-color: var(--default-borderColor);
  color: var(--default-hoverColor);
}

.login-cancel {
  margin: 0;
  background: none;
  outline: none;
  border: none;
  color: var(--default-fontColor);
  margin-left: 90%;
}

/* 忘记密码和注册盒子 */
.exterBox {
  width: 100%;
  height: 20px;
  color: var(--default-fontColor);
  text-align: center;
}

.btNoAcc,
.btforgetPw {
  margin: 10px;
  float: right;
}

/* 忘记密码样式 */

.forgitPw-cancel {
  margin: 0;
  background: none;
  outline: none;
  border: none;
  color: var(--default-fontColor);
}

.form-box #forgetPw-code {
  width: 200px;
}

.forgitPw-sentVerCode {
  width: 100px;
  margin-left: 12%;
  margin-top: 0;
}

.cancelImg,
.backImg{
  filter: var(--default-loginPopImgStyle)
}

/********************登录 ↑*********************/

/* 欢迎标语 */
.welcomeTitle {
  margin: 0px;
  color: var(--default-fontColor);
}

/* 图标 */
.ideIcon {
  margin-top: 2%;
  margin-left: 12%;
  vertical-align: top;
  display: inline-block;
}

/* 工程按钮 ↓ */
.operatBox {
  text-align: center;
  vertical-align: top;
  float: right;
  /* margin-right: 20px; */
}

.operatBox ul li {
  list-style: none;
  margin: 60px;
}

.select {
  width: 280px;
  height: 70px;
  background: none;
  outline: none;
  border-radius: 5px;
  border: var(--default-borderColor);
  color: var(--default-fontColor);
}

.select label{
  font-size: 1.5em;
}

/* 工程按钮 ↑ */

/* 最新资讯 */
.newsBox{
  padding-top: 20px;
  padding-bottom: 20px;
}

.newsBox div {
  text-align: center;
  width: 32%;
  float: left;
  margin-left: 6px;
}

.newItem {
  width: 100%;
  height: 200px;
}

/* 分割线 */
.hr-solid-content {
  color: var(--default-segLineColor);
  border: 0;
  font-size: 15px;
  padding: 1em 0;
  position: relative;
}

.hr-solid-content::before {
  content: attr(data-content);
  position: absolute;
  padding: 0 1ch;
  line-height: 1px;
  border: var(--default-borderColor);
  border-width: 0 99vw;
  width: fit-content;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

/* 底部信息 */
.footer ul {
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.footer ul li {
  list-style: none;
  float: left;
  margin: 10px;
}

.commentBtn {
  background: none;
  outline: none;
  border: none;
  color: var(--default-fontColor);
}

/* *******************************响应式******************************** */
/* Small */
@media only screen and (max-width:800px) {
  #root {
    grid-gap: 16px;
    grid-template-columns: 5px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 11fr;
    grid-template-areas: 'g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header'
      'g-left g-right g-right g-right g-right g-right g-right g-right g-right g-right g-right g-right';
  }

  .newsBox div {
    text-align: center;
    float: left;
    width: 90%;
    margin: 10px;
  }
}

/* Medium */
@media only screen and (min-width:800px) {
  #root {
    grid-gap: 16px;
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 11fr;
    grid-template-areas: 'g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header'
      'g-left g-right g-right g-right g-right g-right g-right g-right g-right g-right g-right g-right';
  }
}

/* Large */
@media only screen and (min-width:1000px) {
  #root {
    grid-gap: 16px;
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 11fr;
    grid-template-areas: 'g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header g-header'
      'g-left g-right g-right g-right g-right g-right g-right g-right g-right g-right g-right g-right';
  }
  
  .operatBox {
    text-align: center;
    vertical-align: top;
    float: right;
    margin-right: 15%;
  }
  
  .newItem {
    width: 100%;
    height: 260px;
  }
}

.newProjectHtml,
.openProjectHtml {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.newProjectHtmlChild,
.openProjectHtmlChild{
  display: block;
  width: 850px;
  height: 490px;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.openProjectHtmlChild{
  height: 600px;
}