body {
    background-color: rgb(30, 30, 30);
}

.box {
    background-color: rgb(30, 30, 30);
    height: 100vh;
    width: 80%;
    border-top: 20px solid rgb(30, 30, 30);
    /* border-bottom: 20px solid #000;
    border-left: 20px solid #000;
    border-right: 20px solid #000;  */
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

.configBox {
    /* background: rgb(34, 35, 35); */
    background: var(--test);
    height: 100px;
    width: 600px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    padding: 12px 14px 18px;
    white-space: normal;
}

.configBox:hover {
    background-color: rgb(34, 35, 35);
}

p {
    color: #e7e7e7;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

a {
    /* color: #3794ff; */
    color: #e7e7e7;
    font-size: 13px;
    text-decoration: underline;
    color: rgb(204, 204, 204);
}

input {
    border-style: none;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    resize: none;
    /* width: 100%;
    height: 100%; */
    box-sizing: border-box;
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
    outline: none;
    /* outline-color: #007fd4; */
    padding: 4px;
    width: 300px;
    height: 30px;
    border-radius: 2px;
    margin-top: 10px;

}

select {
    border-style: none;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    resize: none;
    /* width: 100%;
    height: 100%; */
    box-sizing: border-box;
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
    outline: none;
    /* outline-color: #007fd4; */
    padding: 4px;
    width: 300px;
    height: 30px;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 13px;
}

.configItem {
    margin: 2px;
    padding: 0px;
}

.configDesc {
    color: rgba(204, 204, 204, 0.9)
}